table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

img {
    width: 50px;
}

th,
td {
    padding: 1rem, 1rem;
}

button:hover {
    background: black;
    color: white;
}